<nav class="bg-transparent navbar navbar-expand-lg sticky-top mx-auto">
	<div class="container-fluid">
	
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa fa-bars text-black navbar-toggler-bar"></i>
		</button>
		
		<a class="navbar-brand" href='/'>
			<span class="text-center">Against the Grain</span>
			<p class="text-center small" style="margin-bottom:0">Hawaii</p>
		</a>
		
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			
			<ul class="navbar-nav ml-auto">
			
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				
			</ul>
			
		</div>
	</div>
</nav>