{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row justify-content-center mb-5">
	<div class="container-fluid" style="max-height: 40rem">
		<img class="embed-responsive" src="https://res.cloudinary.com/dc4mk238o/image/upload/s--qScQyxOT--/v1597084853/againstthegrain/againstthegrain_static/item1_ockoxg.png" alt="Hand-carved table" style="max-height: 40rem; object-fit: contain"/>
	</div>
</div>

<h1 class="text-center text-primary fa-2x">Hand-carved Sculpture</h1>
<p class="text-center text-primary mb-5">Made in Hawaii</p>

<div class="row justify-content-center h4 mb-5 px-3">Short description of the site purpose and your art</div>

<div class="row my-5 py-5">
	<div class="col-md-4">
		<img class="embed-responsive shadow" src="https://cdn.prestosports.com/action/cdn/img/mw=160/mh=210/cr=n/d=ewj3f/sz6loesmdk6baaq8.jpg" alt="bio pic" />
	</div>
	<div class="col-md-8 mt-3">
		<div class="row-cols-1">
			<h1>Cosmo Brossy</h1>
		</div>
		<div class="row-cols-lg">
			<p class="text-primary">Bio of yourself</p>
		</div>
	</div>
</div>

{% endblock %}